{% extends 'ProyectoEspecialApp/base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'ProyectoEspecialApp/css/juegos_css/juego4.css' %}">
    <link rel="stylesheet" href="{% static 'ProyectoEspecialApp/css/juegos_css/estilos_juego1.css' %}">
    
    <body onload="startGame()">
        <script src="{% static 'ProyectoEspecialApp/js/juegos/juego4.js' %}"></script>



        <div class="contenedor_links__otroSJuegos">
            <li class="Links_otro_juego"><a class="linkOtroJuego" href="{% url 'Juego1' %}">El corazon volon</a></li>
            <li class="Links_otro_juego"><a class="linkOtroJuego" href="{% url 'Juego2' %}">El corazon esquivador</a></li>
            <li class="Links_otro_juego"><a class="linkOtroJuego" href="{% url 'Juego3' %}">Busca el corazon</a></li>
            <li class="Links_otro_juego"><a class="linkOtroJuego" href="{% url 'Juego4' %}">Pong love</a></li>
            <li class="Links_otro_juego"><a class="linkOtroJuego" href="{% url 'Juego5' %}">Snake💛</a></li>
            <li class="Links_otro_juego"><a class="linkOtroJuego" href="{% url 'Juego6' %}">El corazon volon XL</a></li>
            <li class="Links_otro_juego"><a class="linkOtroJuego" href="{% url 'Juego7' %}">Heart Adventures</a></li> 
        </div>

    </body>
{% endblock %}