{% extends 'ProyectoEspecialApp/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'ProyectoEspecialApp/css/fotos.css' %}">
    <link rel="stylesheet" href="{% static 'ProyectoEspecialApp/css/cartas.css' %}">

    <h1 class="fotos_title">FOTOS</h1>
    <section class="contenedorImagenes">
            {{ foto | safe}}

            {% if index >= max_fotos and index < max_fotos|add:max_fotos %}
                <a href="{% url 'Fotos' %}" class="back"><<</a>
            {% elif last_index == 0 %}
                <a href="{% url 'Fotos' %}" class="back"><<</a>
            {% else %}
                <a href="{% url 'Mas_fotos' last_index %}" class="back"><<</a>
            {% endif %}

            {% if fotos|length >= index|add:1 %}
                <a href="{% url 'Mas_fotos' index %}" class="next"> >> </a>
            {% endif %}

    
    </section>


    <div class="containerLinksMoreMedia">
        <div class="linkMedia"><a href="{% url 'Audios' %}" class="MediasALink">Audios</a></div>
        <div class="linkMedia"><a href="{% url 'Videos' %}" class="MediasALink">Videos</a></div>
        <div class="linkMedia"><a href="{% url 'Fotos' %}" class="MediasALink">Imagenes</a></div>
        <div class="linkMedia"><a href="{% url 'Cartas' %}" class="MediasALink">Cartas</a></div>
    </div>

{% endblock %}