{% extends 'ProyectoEspecialApp/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'ProyectoEspecialApp/css/cartas.css' %}">
    <h1 class="cartas_title">CARTAS</h1>
    <main class="main_carta">
        <section class="contenedor_carta1">
            <div class="contendor_carta3">
                {{carta | safe}}

                {% if index >= max_cartas and index < max_cartas|add:max_cartas %}
                    <a href="{% url 'Cartas' %}" class="back"><<</a>
                {% elif last_index == 0 %}
                    <a href="{% url 'Cartas' %}" class="back"><<</a>
                {% else %}
                    <a href="{% url 'Mas_cartas' last_index %}" class="back"><<</a>
                {% endif %}

                {% if cartas|length > index|add:1 %}
                    <a href="{% url 'Mas_cartas' index %}" class="next"> >> </a>
                {% endif %}


           
            </div>            
        </section>



        <div class="containerLinksMoreMedia">
            <div class="linkMedia"><a href="{% url 'Audios' %}" class="MediasALink">Audios</a></div>
            <div class="linkMedia"><a href="{% url 'Videos' %}" class="MediasALink">Videos</a></div>
            <div class="linkMedia"><a href="{% url 'Fotos' %}" class="MediasALink">Imagenes</a></div>
            <div class="linkMedia"><a href="{% url 'Cartas' %}" class="MediasALink">Cartas</a></div>
        </div>

    </main>


{% endblock %}